*{
    margin: 0;padding: 0;box-sizing: border-box;
}

body{
    background-color: black;
}

/* Postavljam nepomicnu pozadinu preko celog ekrana */
#main{
    background-image: url(Slike/COE33_logo_3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
/* Pravim navigaciju sa logom sa desne strane */

#menu{
    display: flex;
    padding: 15px 20px;
    align-items: center;
    position: absolute;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100vw;
    z-index: 1000;
}


#menu a{
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    color: red;
    font-size: 20px;
    border-right:2px solid  white ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#logo img{
    height: 70px;
    width: auto;
}

#logo{

    margin-left:auto ;
}

#menu a:hover{
    color:darkgray;
    text-decoration: underline;
}

/*  */

/* #naslov{
    font-size: 100px;
    text-align: center;
    color:goldenrod;
    font-family:sans-serif;
    padding: 200px;
} */

/*  */

#navigacija{
    position: relative;
    top: 55vh;
    margin-left: 30px;
}

#listHome{
    display: flex;
    background-color: white;
    box-shadow: 0px 5px 5px gray;
    border-radius: 20px;
    width: 30vw;
    height: 25vh;
    align-items: center;
}

#listHome li a{
    text-decoration: none;
    font-size: 25px;
}

#listHome li{
    margin-top: 18px;
    margin-left: 20px;
}

#listHome li:hover{
    background-color: rgb(0,0,0,0.2);
}

#navigacija h2{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}




/* OPisi */

.opisi{
    margin: 20px;
    margin-top: 100px;
    background-color:antiquewhite;
    border-radius: 20px;
}

.nasloviH2{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    margin-left: 20px;
}


.text p{
    font-size: 30px;
    margin: 30px;
}

.text{
    margin: 20px;
    background-color: rgb(128, 128, 128,0.7);
    border-radius: 20px;
    padding: 30px;
}

.text p{
    color: white;
}


/* STUDIO */

#studio{
    background-image: url(Slike/sandfall_team.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain ;
}


/* GAMEPLAY */

#gameplay{
    background-image: url(Slike/coe33_gameplay.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain ;
}

/* SVET I PRICA */

#story{
    background-image: url(Slike/coe33_prica.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain ;
}

/* MUZIKA */

#muzika{
    width: 300px;
    height: 100px;
    font-size: 32px;
    margin-left: 20px;
}

#music{
    background-image: url(Slike/coe33_album.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain ;
}

/* ESTETIKA I INSPIRACIJA */

#art{
    background-image: url(Slike/coe33-eiffel-tower-concept-art.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain ;
}

/* OCENE */

#tabela{
    background-color: white;
    height: 500px;
    width: auto;
    margin: 20px;
}

#tabela td,th{
    font-size: 30px;
    color: black;
}

#ratings #ocene{
    display: flex;
}

/* MODALNI PROZOR */

.open-modal{
    width: 300px;
    height: 100px;
    font-size: 40px;
    margin-left: 20px;
}

.modal-overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.modal {
    background: white;
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    position: relative;
    border-radius: 8px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
}

.modal p{
    font-size: 20px
}




/* VERSO SITE */

#mainVerso{
    background-image: url(Slike/Versobg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#blokOpis{
    display: flex;
}

#OpisLika .blokOpis img{
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
}

#OpisLika{
    display: flex;
    position: relative;
    top: 30%;
}

#OpisLika .blokOpis p{
    color: white;
    font-size: 30px;
    margin: 30px;
}

#OpisLika .blokOpis{
    margin: 20px;
    background-color: rgb(128, 128, 128,0.7);
    border-radius: 20px;
    padding: 30px;
}

/* MAELLE */

#mainMaelle{
    background-image: url(Slike/Maellebg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* GUSTAVE */

#mainGustave{
    background-image: url(Slike/Gustavebg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}